extends layout

block content

  h1 Item: #{item.name}

  div(style='margin-left:20px;margin-top:20px')

    p #{item.description}
    p Price: #{item.price}
    p Stock(today): #{item.numberinstock}
    p Part of this category: #[a(href=item.category[0].url) #{item.category[0].name}]



    p
      a(href=item.url+'/delete') Delete Item
    p
      a(href=item.url+'/update') Update Item
           